---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$pattern-white: "{{ site.baseurl }}/images/pattern-white.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #201E57;
$html-background-color: #222;
$secondary-brand-color: #F07D00;
$middle-gradient-color: mix(#201E57, #F07D00, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
