---
title: JSAH
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable"><strong>Excelência</strong> em toda área paralegal já<strong> encontrada no mercado.</strong></h2>
		<hr>
		<p class="editable description">A JSAH é especializada na execução dos mais variados serviços de apoio às atividades do dia-a-dia das empresas</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Como podemos ajudar ?</a></p>
	</div>
</section>

<section class="diagonal alternate-mission">
	<div class="container halves">
		<div>
			<ul class="image-list mission">
				<li>
					<img src="https://res.cloudinary.com/dpf8pkufm/image/upload/v1603676602/jsah/w-icon-14_tdias7.png">
					<p><strong>Missão</strong></p>
					<p class="center">Oferecer soluções legais práticas e inovadoras garantindo a satisfação dos nossos clientes.</p>
				</li>
				<li>
					<img src="https://res.cloudinary.com/dpf8pkufm/image/upload/v1603676602/jsah/w-icon-12_vt3ohk.png">
					<p><strong>Visão</strong></p>
					<p class="center">Tornar-se a empresa referência em serviços paralegais do Brasil, sempre com ética, responsabilidade e valorização dos nossos colaboradores.</p>
				</li>
				<li>
					<img src="https://res.cloudinary.com/dpf8pkufm/image/upload/v1603676602/jsah/w-icon-2_f9foaf.png">
					<p><strong>Valores</strong></p>
					<p class="center">Nossos valores são pautados pela valorização das pessoas, qualidade, comprometimento, trabalho em equipe e integridade.</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="bg-oppacity diagonal">
		<div class="container halves">
			<div>
				<h3 class="editable">A JSAH</h3>
				<p class="editable">A <strong>JSAH Soluções Empresariais LTDA</strong>, foi fundada em 2009 com o objetivo de prestar serviços altamente especializados, afim de ser a solução para nossos clientes, em toda área paralegal com a maior
					excelência já encontrada no mercado.</p>
				<p class="editable">Atualmente somos parceiros de escritórios de advocacia e de grandes empresas permitindo atender diversos segmentos de negócios, se especializando em vários aspectos regulatórios existentes no país.</p>
				<p class="editable">Entendemos a necessidade de organização, controle e gestão de documentos legais e certidões dos clientes, a <strong>JSAH</strong> se especializou em atender também esta demanda, tornando plenamente capaz de
					fornecer uma solução integrada e adequada a cada tipo de negócio.</p>
				<p><a class="button alt" href="{{ site.baseurl }}/portfolio/">Veja nossos serviços &rarr;</a></p>
			</div>
			<div>
				<img src="https://res.cloudinary.com/dpf8pkufm/image/upload/v1603674672/jsah/thumb-business-high-performance_sd6bfn.png" alt="Image bussines persons">
				<!-- <ul class="image-grid">
					{% for client in site.clients limit: 1 %}
						<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
					{% endfor %}
				</ul> -->
			</div>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/cloudcannon-logo-blue.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/jekyll-logo-black-red-transparent.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest software, greatest perfomance</h3>
			<p class="editable">As a new agency we get reap the benefits of the latest and greatest. We build our websites with the most up to date technology. This ensures your website is fast, efficient and reliable for many years.</p>
		</div>
	</div>
</section>
